<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
    <dict>
        <key>AllowUserOverrides</key>
        <true/>
        <key>AllowedKernelExtensions</key>
        <dict>
            <key>TDNYQP7VRK</key>
            <array>
                <string>com.cisco.amp.fileop</string>
                <string>com.cisco.amp.nke</string>
            </array>
            <key>DE8Y96K9QP</key>
            <array>
                <string>com.cisco.kext.acsock</string>
            </array>
        </dict>
        <key>AllowedTeamIdentifiers</key>
        <array>
            <string>TDNYQP7VRK</string>
            <string>DE8Y96K9QP</string>
        </array>
    </dict>
</plist>