<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
    <dict>
        <key>DisablePersonalSync</key>
        <false/>
        <key>Tenants</key>
        <dict>
            <key>Tenant ID String goes here</key>
            <dict>
                <key>DefaultFolder</key>
                <string>$HOME/</string>
            </dict>
        </dict>
        <key>AutomaticUploadBandwidthPercentage</key>
        <integer>0</integer>
        <key>UploadBandwidthLimited</key>
        <integer>0</integer>
        <key>DownloadBandwidthLimited</key>
        <integer>0</integer>
        <key>HideDockIcon</key>
        <true/>
        <key>OpenAtLogin</key>
        <true/>
        <key>FilesOnDemandEnabled</key>
        <true/>
        <key>DisableHydrationToast</key>
        <false/>
        <key>HydrationDisallowedApps</key>
        <string>«value»</string>
        <key>SharePointOnPremFrontDoorUrl</key>
        <string>url for on-premise sharepoint</string>
        <key>SharePointOnPremTenantName</key>
        <string>on-premise tenant name</string>
        <key>SharePointOnPremPrioritizationPolicy</key>
        <integer>0</integer>
        <key>BlockExternalSync</key>
        <false/>
    </dict>
</plist>