<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedSystemExtensions</key>
	<dict>
		<key>PXPZ95SK77</key>
		<array>
			<string>com.paloaltonetworks.GlobalProtect.gplock</string>
			<string>com.paloaltonetworks.GlobalProtect.gpsplit</string>
			<string>com.paloaltonetworks.kext.pangpd</string>
			<string>com.paloaltonetworks.driver.kproc-ctrl</string>
		</array>
	</dict>
</dict>
</plist>
