<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
    <dict>
        <key>HomePage</key>
        <string>https://duckduckgo.com</string>
        <key>NewWindowBehavior</key>
        <integer>0</integer>
        <key>NewTabBehavior</key>
        <string>«value»</string>
        <key>LastSafariVersionWithWelcomePage-v2</key>
        <string>9.0</string>
        <key>AXFullScreen</key>
        <false/>
        <key>AutoFillCreditCardData</key>
        <false/>
        <key>AutoFillPasswords</key>
        <false/>
        <key>AutoFillMiscellaneousForms</key>
        <false/>
        <key>AutoFillFromAddressBook</key>
        <false/>
        <key>AlwaysShowTabBar</key>
        <false/>
    </dict>
</plist>