<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OIDCProvider</key>
	<string>Azure</string>
	<key>OIDCROPGID</key>
	<string>ddfa9adf-xxxxx-xxxxx-xxxxx-ea51d7dc35ac</string>
	<key>OIDCRedirectURI</key>
	<string>https://127.0.0.1/jamfconnect</string>
	<key>KerberosRealm</key>
	<string>INSIGHT.com</string>
	<key>KerberosGetTicketsAutomatically</key>
	<true/>
	<key>NetworkCheckAutomatically</key>
	<true/>
	<key>DontShowWelcom</key>
	<string>Yes</string>
	<key>KerberosShowCountdown</key>
	<string>Yes</string>
	<key>KerberosShowCountdownLimit</key>
	<integer>15</integer>
</dict>
</plist>
