<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
    <dict>
        <key>OIDCAdmin</key>
        <string>Admin</string>
        <key>OIDCAdminAttribute</key>
        <string>roles</string>
        <key>CreateVerifyPasswords</key>
        <true/>
        <key>OIDCClientID</key>
        <string>ddfa9adf-1059-4d2d-bfaa-ea51d7dc35ac</string>
        <key>OIDCNewPassword</key>
        <true/>
        <key>OIDCProvider</key>
        <string>Azure</string>
        <key>OIDCROPGID</key>
        <string>ddfa9adf-1059-4d2d-bfaa-ea51d7dc35ac</string>
        <key>OIDCRedirectURI</key>
        <string>https://127.0.0.1/jamfconnect</string>
        <key>EnableFDE</key>
        <true/>
        <key>Migrate</key>
        <true/>
    </dict>
</plist>