<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>label</key>
		<string>com.jamf.connect.shares</string>
		<key>PayloadOrganization</key>
		<string>Jamf</string>
		<key>PayloadDisplayName</key>
		<string>Jamf Connect Shares</string>
		<key>PayloadScope</key>
		<string>System</string>
		<key>PayloadType</key>
		<string>Configuration</string>
		<key>PayloadRemovalDisallowed</key>
		<true/>
		<key>PayloadIdentifier</key>
		<string>CA078AF9-34E4-43BE-A485-E01326AA4DFF</string>
		<key>PayloadContent</key>
		<array>
			<dict>
				<key>Shares</key>
				<array>
					<dict>
						<key>Groups</key>
						<array/>
						<key>ConnectedOnly</key>
						<true/>
						<key>Options</key>
						<array/>
						<key>Name</key>
						<string>Public</string>
						<key>LocalMount</key>
						<string></string>
						<key>URL</key>
						<string>smb://test.com/Public</string>
						<key>AutoMount</key>
						<false/>
					</dict>
				</array>
				<key>PayloadDisplayName</key>
				<string>Jamf Connect Shares</string>
				<key>Version</key>
				<string>1</string>
				<key>PayloadType</key>
				<string>com.jamf.connect.shares</string>
				<key>HomeMount</key>
				<dict>
					<key>Groups</key>
					<array/>
					<key>Options</key>
					<array/>
					<key>Mount</key>
					<false/>
				</dict>
				<key>PayloadOrganization</key>
				<string>Jamf</string>
				<key>PayloadIdentifier</key>
				<string>DBB0A83B-5A40-46F2-BE6A-296E32C92F8B</string>
				<key>PayloadUUID</key>
				<string>DBB0A83B-5A40-45F2-BE6A-286E32C92F8B</string>
				<key>PayloadEnabled</key>
				<true/>
				<key>PayloadDescription</key>
				<string>Jamf Connect Shares</string>
				<key>PayloadVersion</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>PayloadUUID</key>
		<string>CA078AF9-34E4-43BE-A485-E02326AA4DFF</string>
		<key>PayloadEnabled</key>
		<true/>
		<key>PayloadDescription</key>
		<string></string>
		<key>PayloadVersion</key>
		<integer>1</integer>
	</dict>
</plist>
