<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disableQuitMenu</key>
	<true/>
	<key>syncLocalPassword</key>
	<true/>
	<key>pwReqLength</key>
	<string>8</string>
	<key>mountNetworkHomeDirectory</key>
	<false/>
	<key>pwReqComplexity</key>
	<true/>
	<key>adRealm</key>
	<string>REALM HERE</string>
	<key>connectDelay</key>
	<string>0</string>
	<key>passwordNotificationDays</key>
	<integer>15</integer>
</dict>
</plist>
