<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrefsVersion</key>
	<integer>100</integer>
	<key>idleTime</key>
	<integer>1200</integer>
	<key>lastNonRandomModuleDict</key>
	<dict>
		<key>moduleName</key>
		<string>iLifeSlideshows</string>
		<key>path</key>
		<string>/System/Library/Frameworks/ScreenSaver.framework/PlugIns/iLifeSlideshows.appex</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>moduleDict</key>
	<dict>
		<key>moduleName</key>
		<string>iLifeSlideshows</string>
		<key>path</key>
		<string>/System/Library/Frameworks/ScreenSaver.framework/PlugIns/iLifeSlideshows.appex</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>showClock</key>
	<false/>
	<key>tokenRemovalAction</key>
	<integer>0</integer>
</dict>
</plist>
